#features {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  

.feature-card {
    width: 25%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}
  
.feature-card img {
    width: 50%;
    margin: 0 auto;
}